@model IEnumerable<DemoMvcApp.Models.ViewModels.TournamentDisplayViewModel>


@{
    ViewData["Title"] = "Tournament List";
}


<h2>Tournament List</h2>
<p>
    <a asp-action="CreateorEdit" class="btn btn-primary"><i class="fa fa-plus"></i> Create New</a>
</p>
<table class="table table-striped">
    <thead class="table-heading">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TournamentID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TournamentName)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TournamentID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TournamentName)
            </td>
            <td>
                <a href="@Url.Action("CreateorEdit","Tournament", new { id = item.TournamentID })" class="btn btn-outline-primary"><i class="fa fa-pencil"></i> Edit</a>
                <a onclick="Delete(@item.TournamentID)" class="btn btn-outline-danger"><i class="fa fa-trash"></i> Delete</a>
                <a href="@Url.Action("Index","Event", new { FK_TournamentID = item.TournamentID })" class="btn btn-outline-info"><i class="fa fa-details"></i> Events</a>
                <a href="@Url.Action("Event","Index", new { tournamentID = item.TournamentID }, null)" class="btn btn-outline-info"><i class="fa fa-details"></i> Events</a>
                @Html.ActionLink("Events", "Index", "Event", new { tournamentID = item.TournamentID }, null)
            </td>
        </tr>
        }

    </tbody>
</table>

@section Scripts {
    <script>
        $(function () {
            var successMessage = '@TempData["SuccessMessage"]'
            if (successMessage != '')
                alertify.success(successMessage);
        });

        function Delete(id) {
            alertify.confirm('NameLess Application', 'Are you sure you want to Delete this record?', function () {
                window.location.href = '@Url.Action("Delete", "Tournament")/' + id;
            },null)
        }
    </script>
}