@model MvcApp.Models.EventDetail

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>EventDetail</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventDetailName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventDetailName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventDetailNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventDetailNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventDetailOdd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventDetailOdd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FinishingPosition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FinishingPosition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstTimer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstTimer)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
