@model IEnumerable<MvcApp.Models.EventDetail>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="CreateorEdit" class="btn btn-primary"><i class="fa fa-plus"></i> Create New</a>
</p>
<table class="table table-striped">
    <thead class="table-heading">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EventDetailName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventDetailNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventDetailOdd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FinishingPosition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstTimer)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EventDetailName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventDetailNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventDetailOdd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FinishingPosition)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstTimer)
                </td>
                <td>
                    <a href="@Url.Action("CreateorEdit","EventDetail", new { id = item.EventDetailID })" class="btn btn-outline-primary"><i class="fa fa-pencil"></i> Edit</a>
                    <a href="@Url.Action("Details","EventDetail", new { id = item.EventDetailID })" class="btn btn-outline-info"><i class="fa fa-info"></i> Details</a>
                    <a onclick="Delete(@item.EventDetailID)" class="btn btn-outline-danger"><i class="fa fa-trash"></i> Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        $(function () {
            var successMessage = '@TempData["SuccessMessage"]'
            if (successMessage != '')
                alertify.success(successMessage);
        });

        function Delete(id) {
            alertify.confirm('NameLess Application', 'Are you sure you want to Delete this record?', function () {
                window.location.href = '@Url.Action("Delete", "EventDetail")/' + id;
            },null)
        }
    </script>
}